* {
        margin: 0;
        padding: 0;
}
p {
        margin-bottom: 15px;
        font-size: large;
}
#everything {
       
        
        padding: 0px;
        
}
#column {
        float: right;
        width: 150px;
        padding: 40px;
}
#body {
        padding: 40px 190px 20px 40px; /* o right, é a soma do width da coluna com o padding desejado */
        text-align: justify;
}