* {
        margin: 0;
        padding: 0;
}
p {
        margin-bottom: 15px;
        font-size: large;
}
#everything {
        background: #ff0;
        
        padding-top: 20px;
        
}
#column {
        float: right;
        width: 300px;
        
        padding: 20px;
}
#body {
    
        padding: 20px 320px 20px 20px; /* o right, é a soma do width da coluna com o padding desejado */
        text-align: justify;
}